
li.ui-li img.avatar {
    float: left;
    margin: 0.5em 15px 0px 0px;
}

li.ui-li img.mine {
    float: right;
    margin: 0.5em 15px 0px 0px;
}

li.ui-li p.username {
   font-weight: normal;
}

li.ui-li p.thumbnail {
    text-align: center;
}

li.ui-li p.details {
    float: right;
}

li.ui-li p {
    font-size: -2;
     margin: 0.5em 0px 0px 63px;
}

li.mine p.username {
   text-align: right;
}

li.mine p {
    font-size: -2;
     margin: 0.5em 63px 0px 0px;
}
